################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/node_modules
/packages
/tests
/tests-examples
/Import
/Libs
/Logs

*.tmp

*.user


*/bin/debug
*/bin/debug libs
*/bin/debug all
*/bin/Debug
*/bin/Release
*/bin/import_core
*/obj/debug
*/obj/debug libs
*/obj/debug all
*/obj/Debug
*/obj/Release
*/obj/import_core
*/obj/*.json
*/obj/*.props
*/obj/*.targets
*/obj/*.cache
*/bin/import_settings
*/obj/import_settings
*/bin/import_shops
*/obj/import_shops

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

/.github/workflows

/Alchemist.Product.Import.Background.Service/chromium_patchright
