################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Alchemist.Common/bin/Debug/net8.0
/Alchemist.Common/obj
/Alchemist.EF.Common/.vs/Alchemy.EF.Common/v17
/Alchemist.EF.Common/bin/Debug/net8.0
/Alchemist.EF.Common/obj
/Alchemist.Import.Categories.Data/bin/Debug/net8.0
/Alchemist.Import.Categories.Data/obj
/Alchemist.Import.Category.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Category.Interfaces/obj
/Alchemist.Import.Category.Json/bin/Debug/net8.0
/Alchemist.Import.Category.Json/obj
/Alchemist.Import.Common/bin/Debug/net8.0
/Alchemist.Import.Common/obj
/Alchemist.Import.Html/bin/Debug/net8.0
/Alchemist.Import.Html/obj
/Alchemist.Import.Html.Categories.Tests/bin/Debug/net8.0
/Alchemist.Import.Html.Categories.Tests/obj
/Alchemist.Import.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Interfaces/obj
/Alchemist.Import.Interfaces/obj/Debug/net8.0/ref/Alchemist.Import.Interfaces.dll
/Alchemist.Import.Products.Data/bin/Debug/net8.0
/Alchemist.Import.Products.Data/obj
/Alchemist.Import.Products.Interfaces/.vs/Alchemy.Import.Products.Interfaces
/Alchemist.Import.Products.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Products.Interfaces/obj
/Alchemist.Import.Products.Service/bin/Debug/net8.0
/Alchemist.Import.Products.Service/obj
/Alchemist.Import.Service/bin/Debug/net8.0
/Alchemist.Import.Service/obj
/Alchemist.Import.Shop.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Shop.Interfaces/obj
/Alchemist.Log.Extensions/bin/Debug/net8.0
/Alchemist.Log.Extensions/obj
/Alchemist.Product.Data/bin/Debug/net8.0
/Alchemist.Product.Data/obj
/Alchemist.Product.Data.Repository/bin/Debug/net8.0
/Alchemist.Product.Data.Repository/obj
/Alchemist.Product.DataService.Interfaces/bin/Debug/net8.0
/Alchemist.Product.DataService.Interfaces/obj
/Alchemist.Product.Entities/bin/Debug/net8.0
/Alchemist.Product.Entities/obj
/Alchemist.Product.GrpcService/bin/Debug/net8.0
/Alchemist.Product.GrpcService/obj
/Alchemist.Product.GrpcService/Alchemist.Product.GrpcService.csproj.user
/Alchemist.Product.GrpcService/Alchemy.GrpcService.csproj.user
/Alchemist.Product.GrpcService.Extensions/bin/Debug/net8.0
/Alchemist.Product.GrpcService.Extensions/obj
/Alchemist.Product.GrpcServiceClient/bin/Debug/net8.0
/Alchemist.Product.GrpcServiceClient/obj
/Alchemist.Product.Import.Background/bin/Debug/net8.0
/Alchemist.Product.Import.Background/obj
/Alchemist.Product.ImportBackground.Tests/bin/Debug/net8.0
/Alchemist.Product.ImportBackground.Tests/obj
/Alchemist.Product.ImportBackgroundService/bin/Debug/net8.0
/Alchemist.Product.ImportBackgroundService/obj
/Alchemist.Product.Interfaces/bin/Debug/net8.0
/Alchemist.Product.Interfaces/obj
/Alchemist.Product.ImportBackgroundService/Alchemist.Product.ImportBackgroundService.csproj.user
/Alchemist.Product.ImportBackgroundService/Alchemy.ImportBackgroundService.csproj.user
/Alchemist.Product.RestAPI/bin/Debug/net8.0
/Alchemist.Product.RestAPI/obj
/Alchemist.Product.RestAPI/Alchemist.Product.RestAPI.csproj.user
/Alchemist.Product.RestAPI/Alchemy.RestAPI.csproj.user
/Alchemist.Product.RestAPI.Tests/bin/Debug/net8.0
/Alchemist.Product.RestAPI.Tests/obj
/Alchemist.Product.RestAPI.Tests/Alchemist.Product.RestAPI.Tests.csproj.user
/Alchemist.Product.RestAPI.Tests/Alchemy.RestAPI.Tests.csproj.user
/Alchemist.Product.RestAPIClient/bin/Debug/net8.0
/Alchemist.Product.RestAPIClient/obj
/Alchemist.Product.Shop.GoldApple/obj
/Alchemist.Product.Shop.GoldApple.ImportService/bin/Debug/net8.0
/Alchemist.Product.Shop.GoldApple.ImportService/obj
/Alchemist.Product.Shop.GoldApple.ImportService.HttpClient.Tests/bin/Debug/net8.0
/Alchemist.Product.Shop.GoldApple.ImportService.HttpClient.Tests/obj
/Alchemist.Product.Shop.GoldApple.Model/bin/Debug/net8.0
/Alchemist.Product.Shop.GoldApple.Model/obj
/Alchemist.Product.Shop.GoldApple.Model.Tests/.vs
/Alchemist.Product.Shop.GoldApple.Model.Tests/bin/Debug/net8.0
/Alchemist.Product.Shop.GoldApple.Model.Tests/obj
/Alchemist.Product.Shop.Ozon.ImportService/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.ImportService/obj
/Alchemist.Product.Shop.Ozon.ImportService.Firefox.Tests/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.ImportService.Firefox.Tests/obj
/Alchemist.Product.Shop.Ozon.ImportServiceTests/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.ImportServiceTests/obj
/Alchemist.Product.Shop.Ozon.Model/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.Model/obj
/Alchemist.Product.Shop.Ozon.Model.Tests/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.Model.Tests/obj
/Alchemist.Product.SignalR/bin/Debug/net8.0
/Alchemist.Product.SignalR/obj
/Alchemist.Product.SignalR/Alchemist.Product.SignalR.csproj.user
/Alchemist.Product.SignalR/Alchemy.SignalR.csproj.user
/node_modules
/packages
/tests
/tests-examples
/Import
/Libs
/Logs
/Alchemist.slnLaunch.user
/Alchemist.Settings.Data.Repository/bin/Debug/net8.0
/Alchemist.Settings.Data.Repository/obj
/Alchemist.Settings.RestAPI/bin/Debug/net8.0
/Alchemist.Settings.RestAPI/obj
/Alchemist.Settings.RestAPI/Alchemist.Settings.RestAPI.csproj.user
/Alchemist.Settings.RestAPI/appsettings.Development.json
/Alchemist.Settings.RestAPIClient/bin/Debug/net8.0
/Alchemist.Settings.RestAPIClient/obj
/Alchemist.Shop.ImportSettings.Model/obj/Debug/net8.0
/Alchemist.Shop.ImportSettings.Model/obj
/Alchemist.Shop.Settings.Interfaces/bin/Debug/net8.0
/Alchemist.Shop.Settings.Interfaces/obj/Debug/net8.0
/Alchemist.Shop.Settings.Interfaces/obj
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Interfaces.dll
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/WebLoader.Interfaces.pdb
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/WebLoader.Interfaces.dll
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Model.deps.json
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Interfaces.pdb
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Model.dll
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Model.pdb
/Alchemist.Import.Settings.Tests/bin/Debug/net8.0
/Alchemist.Import.Settings.Tests/obj
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0
/Alchemist.Import.CategoriesSettings.Tests/bin/Debug/net8.0
/Alchemist.Import.CategoriesSettings.Tests/obj
/Alchemist.Import.Html.DependencyInjection/bin/Debug/net8.0
/Alchemist.Import.Html.DependencyInjection/obj
/Alchemist.Product.ImportBackground.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.GoldApple.ImportService.HttpClient.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.GoldApple.Model.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.Ozon.ImportService.Firefox.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.Ozon.ImportServiceTests/bin/debug libs/net8.0
/Alchemist.Product.Shop.Ozon.Model.Tests/bin/debug libs/net8.0
/Alchemist.Import.Html.Factory/bin/Debug/net8.0
/Alchemist.Import.Html.Factory/obj
/Alchemist.Import.ProductSettings.Tests/bin/Debug/net8.0
/Alchemist.Import.ProductSettings.Tests/obj
/Alchemist.Import.Settings.Model/bin/Debug/net8.0
/Alchemist.Import.Settings.Model/obj
/Alchemist.Import.Settings.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Settings.Interfaces/obj
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Interfaces.dll
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/WebLoader.Interfaces.pdb
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/WebLoader.Interfaces.dll
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Model.deps.json
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Interfaces.pdb
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Model.dll
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Model.pdb
/Alchemist.Import.Settings.Tests/bin/Debug/net8.0
/Alchemist.Import.Settings.Tests/obj
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0
/Alchemist.Import.CategoriesSettings.Tests/bin/Debug/net8.0
/Alchemist.Import.CategoriesSettings.Tests/obj
/Alchemist.Import.Html.DependencyInjection/bin/Debug/net8.0
/Alchemist.Import.Html.DependencyInjection/obj
/Alchemist.Product.ImportBackground.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.GoldApple.ImportService.HttpClient.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.GoldApple.Model.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.Ozon.ImportService.Firefox.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.Ozon.ImportServiceTests/bin/debug libs/net8.0
/Alchemist.Product.Shop.Ozon.Model.Tests/bin/debug libs/net8.0
/Alchemist.Import.Html.Factory/bin/Debug/net8.0
/Alchemist.Import.Html.Factory/obj
/Alchemist.Import.ProductSettings.Tests/bin/Debug/net8.0
/Alchemist.Import.ProductSettings.Tests/obj
/Alchemist.Import.Settings.Model/bin/Debug/net8.0
/Alchemist.Import.Settings.Model/obj
/Alchemist.Import.Settings.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Settings.Interfaces/obj
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Interfaces.dll
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/WebLoader.Interfaces.pdb
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/WebLoader.Interfaces.dll
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Model.deps.json
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Interfaces.pdb
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Model.dll
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0/Alchemist.Import.Settings.Model.pdb
/Alchemist.Import.Settings.Tests/bin/Debug/net8.0
/Alchemist.Import.Settings.Tests/obj
/Alchemist.Shop.ImportSettings.Model/bin/Debug/net8.0
/Alchemist.Import.CategoriesSettings.Tests/bin/Debug/net8.0
/Alchemist.Import.CategoriesSettings.Tests/obj
/Alchemist.Import.Html.DependencyInjection/bin/Debug/net8.0
/Alchemist.Import.Html.DependencyInjection/obj
/Alchemist.Product.ImportBackground.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.GoldApple.ImportService.HttpClient.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.GoldApple.Model.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.Ozon.ImportService.Firefox.Tests/bin/debug libs/net8.0
/Alchemist.Product.Shop.Ozon.ImportServiceTests/bin/debug libs/net8.0
/Alchemist.Product.Shop.Ozon.Model.Tests/bin/debug libs/net8.0
/Alchemist.Import.Html.Factory/bin/Debug/net8.0
/Alchemist.Import.Html.Factory/obj
/Alchemist.Import.ProductSettings.Tests/bin/Debug/net8.0
/Alchemist.Import.ProductSettings.Tests/obj
/Alchemist.Import.Settings.Model/bin/Debug/net8.0
/Alchemist.Import.Settings.Model/obj
/Alchemist.Import.Settings.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Settings.Interfaces/obj
*.tmp
/Alchemist.Product.Import.WebApp/bin/Debug/net8.0
/Alchemist.Product.Import.WebApp/obj
*.user
/Alchemist.DependencyInjection.Common/bin/Debug/net8.0
/Alchemist.DependencyInjection.Common/obj
/Alchemist.Import.Settings.Extensions/bin/Debug/net8.0
/Alchemist.Import.Settings.Extensions/obj
/Alchemist.Import.Shop.Settings.ModelExtensions/obj
/Alchemist.Product.Import.ViewModel/bin/Debug/net8.0
/Alchemist.Product.Import.ViewModel/obj
/Alchemist.Import.Settings.Adapter/obj
/Alchemist.Import.Settings.Builder/obj
/Alchemist.Import.Settings.Adapter/bin/Debug/net8.0
/Alchemist.Import.Settings.Adapter/obj/Debug/net8.0
/Alchemist.Import.Settings.Builder/obj/Debug/net8.0
/Alchemist.Import.Settings.Adapter.Tests/bin/Debug/net8.0
/Alchemist.Import.Settings.Adapter.Tests/obj
/Alchemist.Import.Settings.Builder/bin/Debug/net8.0
/Alchemist.Import.Settings.Builders.Tests/bin/Debug/net8.0
/Alchemist.Import.Settings.Builders.Tests/obj
/Alchemist.Product.Import.Model.Test/bin/Debug/net8.0
/Alchemist.Product.Import.Model.Test/obj
/Alchemist.Product.Import.WebApp.Test/bin/Debug/net8.0
/Alchemist.Product.Import.WebApp.Test/obj
/Alchemist.Product.RestAPI.UnitTest/bin/Debug/net8.0
/Alchemist.Product.RestAPI.UnitTest/obj
/Alchemist.Settings.RestAPI.UnitTest/bin/Debug/net8.0
/Alchemist.Settings.RestAPI.UnitTest/obj
/Alchemist.Test.Server.Fixtures/bin/Debug/net8.0
/Alchemist.Test.Server.Fixtures/obj
/Alchemist.Product.GrpcService.Tests/bin/Debug/net8.0
/Alchemist.Product.GrpcService.Tests/obj
/Alchemist.Test.Server.Fixtures.Grpc/obj
/Alchemist.Test.Server.Fixtures.Grpc/bin/Debug/net8.0
/Alchemist.Product.Data.Postgresql/bin/Debug/net8.0
/Alchemist.Product.Data.Postgresql/obj
/Alchemist.Product.RestAPI.Test/bin/Debug/net8.0
/Alchemist.Product.RestAPI.Test/obj
/Alchemist.Test.SignalRWebAppFactory/bin/Debug/net8.0
/Alchemist.Test.SignalRWebAppFactory/obj

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/Alchemist.Product.Import.WebApp.Controller.Test/bin/Debug/net8.0
/Alchemist.Product.Import.WebApp.Controller.Test/obj
/.github/workflows
/Alchemist.TestWebApp/bin/Debug/net8.0
/Alchemist.Product.Import.WebApp.IntegrationTest/bin/Debug/net8.0
/Alchemist.Product.Import.WebApp.IntegrationTest/obj
/Alchemist.Product.Import.Backgorund.Service.IntegrationTest/bin/Debug/net8.0
/Alchemist.Product.Import.Backgorund.Service.IntegrationTest/obj/Debug/net8.0
/Alchemist.Product.Import.Backgorund.Service.IntegrationTest/obj/Debug/net8.0/ref/Alchemist.Product.Import.Backgorund.Service.IntegrationTest.dll
/Alchemist.Product.Import.Backgorund.Service.IntegrationTest/obj
/Alchemist.Product.Import.Backgorund.Service.IntegrationTest/obj/Alchemist.Product.Import.Backgorund.Service.IntegrationTest.csproj.nuget.dgspec.json
/Alchemist.Product.Import.WebApp.Controller.Test/bin/Debug/net8.0/af/Humanizer.resources.dll
/Alchemist.ServiceAssembliesBuilder/bin/Debug/net8.0
/Alchemist.ServiceAssembliesBuilder/obj
/Alchemist.Import.Factory/bin/Debug/net8.0
/Alchemist.Import.Factory/obj
/Alchemist.Product.Shop.GoldApple.Factory/bin/Debug/net8.0
/Alchemist.Product.Shop.GoldApple.Factory/obj
/Alchemist.Product.Shop.Ozon.Factory/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.Factory/obj
/Alchemist.Import.Category.Json.Factory/bin/Debug/net8.0
/Alchemist.Import.Category.Json.Factory/obj
