################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Alchemist.Common/bin/Debug/net8.0
/Alchemist.Common/obj
/Alchemist.EF.Common/.vs/Alchemy.EF.Common/v17
/Alchemist.EF.Common/bin/Debug/net8.0
/Alchemist.EF.Common/obj
/Alchemist.Import.Categories.Data/bin/Debug/net8.0
/Alchemist.Import.Categories.Data/obj
/Alchemist.Import.Category.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Category.Interfaces/obj
/Alchemist.Import.Category.Json/bin/Debug/net8.0
/Alchemist.Import.Category.Json/obj
/Alchemist.Import.Common/bin/Debug/net8.0
/Alchemist.Import.Common/obj
/Alchemist.Import.Html/bin/Debug/net8.0
/Alchemist.Import.Html/obj
/Alchemist.Import.Html.Categories.Tests/bin/Debug/net8.0
/Alchemist.Import.Html.Categories.Tests/obj
/Alchemist.Import.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Interfaces/obj
/Alchemist.Import.Interfaces/obj/Debug/net8.0/ref/Alchemist.Import.Interfaces.dll
/Alchemist.Import.Products.Data/bin/Debug/net8.0
/Alchemist.Import.Products.Data/obj
/Alchemist.Import.Products.Interfaces/.vs/Alchemy.Import.Products.Interfaces
/Alchemist.Import.Products.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Products.Interfaces/obj
/Alchemist.Import.Products.Service/bin/Debug/net8.0
/Alchemist.Import.Products.Service/obj
/Alchemist.Import.Service/bin/Debug/net8.0
/Alchemist.Import.Service/obj
/Alchemist.Import.Shop.Interfaces/bin/Debug/net8.0
/Alchemist.Import.Shop.Interfaces/obj
/Alchemist.Log.Extensions/bin/Debug/net8.0
/Alchemist.Log.Extensions/obj
/Alchemist.Product.Data/bin/Debug/net8.0
/Alchemist.Product.Data/obj
/Alchemist.Product.Data.Repository/bin/Debug/net8.0
/Alchemist.Product.Data.Repository/obj
/Alchemist.Product.DataService.Interfaces/bin/Debug/net8.0
/Alchemist.Product.DataService.Interfaces/obj
/Alchemist.Product.Entities/bin/Debug/net8.0
/Alchemist.Product.Entities/obj
/Alchemist.Product.GrpcService/bin/Debug/net8.0
/Alchemist.Product.GrpcService/obj
/Alchemist.Product.GrpcService/Alchemist.Product.GrpcService.csproj.user
/Alchemist.Product.GrpcService/Alchemy.GrpcService.csproj.user
/Alchemist.Product.GrpcService.Extensions/bin/Debug/net8.0
/Alchemist.Product.GrpcService.Extensions/obj
/Alchemist.Product.GrpcServiceClient/bin/Debug/net8.0
/Alchemist.Product.GrpcServiceClient/obj
/Alchemist.Product.Import.Background/bin/Debug/net8.0
/Alchemist.Product.Import.Background/obj
/Alchemist.Product.ImportBackground.Tests/bin/Debug/net8.0
/Alchemist.Product.ImportBackground.Tests/obj
/Alchemist.Product.ImportBackgroundService/bin/Debug/net8.0
/Alchemist.Product.ImportBackgroundService/obj
/Alchemist.Product.Interfaces/bin/Debug/net8.0
/Alchemist.Product.Interfaces/obj
/Alchemist.Product.ImportBackgroundService/Alchemist.Product.ImportBackgroundService.csproj.user
/Alchemist.Product.ImportBackgroundService/Alchemy.ImportBackgroundService.csproj.user
/Alchemist.Product.RestAPI/bin/Debug/net8.0
/Alchemist.Product.RestAPI/obj
/Alchemist.Product.RestAPI/Alchemist.Product.RestAPI.csproj.user
/Alchemist.Product.RestAPI/Alchemy.RestAPI.csproj.user
/Alchemist.Product.RestAPI.Tests/bin/Debug/net8.0
/Alchemist.Product.RestAPI.Tests/obj
/Alchemist.Product.RestAPI.Tests/Alchemist.Product.RestAPI.Tests.csproj.user
/Alchemist.Product.RestAPI.Tests/Alchemy.RestAPI.Tests.csproj.user
/Alchemist.Product.RestAPIClient/bin/Debug/net8.0
/Alchemist.Product.RestAPIClient/obj
/Alchemist.Product.Shop.GoldApple/obj
/Alchemist.Product.Shop.GoldApple.ImportService/bin/Debug/net8.0
/Alchemist.Product.Shop.GoldApple.ImportService/obj
/Alchemist.Product.Shop.GoldApple.ImportService.HttpClient.Tests/bin/Debug/net8.0
/Alchemist.Product.Shop.GoldApple.ImportService.HttpClient.Tests/obj
/Alchemist.Product.Shop.GoldApple.Model/bin/Debug/net8.0
/Alchemist.Product.Shop.GoldApple.Model/obj
/Alchemist.Product.Shop.GoldApple.Model.Tests/.vs
/Alchemist.Product.Shop.GoldApple.Model.Tests/bin/Debug/net8.0
/Alchemist.Product.Shop.GoldApple.Model.Tests/obj
/Alchemist.Product.Shop.Ozon.ImportService/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.ImportService/obj
/Alchemist.Product.Shop.Ozon.ImportService.Firefox.Tests/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.ImportService.Firefox.Tests/obj
/Alchemist.Product.Shop.Ozon.ImportServiceTests/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.ImportServiceTests/obj
/Alchemist.Product.Shop.Ozon.Model/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.Model/obj
/Alchemist.Product.Shop.Ozon.Model.Tests/bin/Debug/net8.0
/Alchemist.Product.Shop.Ozon.Model.Tests/obj
/Alchemist.Product.SignalR/bin/Debug/net8.0
/Alchemist.Product.SignalR/obj
/Alchemist.Product.SignalR/Alchemist.Product.SignalR.csproj.user
/Alchemist.Product.SignalR/Alchemy.SignalR.csproj.user
/node_modules
/packages
/tests
/tests-examples
/Import
/Libs
/Logs
/Alchemist.slnLaunch.user
