html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.menu_header {
    margin-top: 0px;
    width: 100%;
    height: 40px;
    text-wrap: nowrap;
}

.menu_item {
    padding-left: 10px;
    padding-right: 10px;
    background: lightgray;
    width: 100%;
    height: 40px;
    text-wrap: nowrap;
    margin-right: 10px;
}

.flex {
    display: flex;
}

.left_menu {
    padding-left: 10px;
    display: flex;
    width: 300px;
    height: 100px;
}

.menu {
    padding-left: 10px;
    display: flex;
    width: 100%;
    height: 40px;
}

.display-7 {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-7 {
        font-size: 2.0rem;
    }
}

ul.left-menu-ul {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
}

li.left-menu-ul {
    list-style: none;
    background-color: none;
    border-block: solid;
    writing-mode: horizontal-tb;
    border-width: 1px;
    border-bottom-color: lightgray;
    border-top-color: transparent;
    width: 100%;
    height: 30px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-block: 1px;
}

.selected {
    background-color: gray;
}

a.active-filter {
    background-color: #F1FFFF;
}

a{
    color: black;
}

.invisible
{
    display:none;
}

    
